body {
  font-family: broadway;
  background-color: rgb(0, 205, 241)
}

.big-square {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 150px;
  bottom: 150px;
}

.pink {
  background-color: rgb(239, 82, 255)
  width: 250px;
  height: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
}
